  <?xml version="1.0" encoding="utf-8" ?>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 

          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

          xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd C:\Program Files (x86)\Microsoft Visual Studio\2022\Community\Xml\Schemas\NLog.xsd">



        <!-- Targets -->

        <targets>

            <target name="console" type="ColoredConsole" layout="${message}" />

        </targets>



        <!-- Rules -->

        <rules>

            <logger name="*" minlevel="Info" writeTo="console" />

        </rules>

    </nlog>